.indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.indicator_alive {
  background-color: var(--color-status-alive);
}

.indicator_dead {
  background-color: var(--color-status-dead);
}

.indicator_unknown {
  background-color: var(--color-status-unknown);
}
