.indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.indicator_alive {
  background-color: #12b800;
}

.indicator_dead {
  background-color: #df0000;
}

.indicator_unknown {
  background-color: #f90;
}
