.selector {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-self: start;

  width: max-content;
  min-width: 24rem;

  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

.selector_small {
  min-width: 9.4rem;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.02em;

  & .selector__input {
    min-height: 2rem;
    padding: 0.2rem 3rem 0.2rem 0.5rem;
  }

  & .selector__arrow {
    right: 0.9rem;
  }

  & .selector__list {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  & .selector__option {
    min-height: 1.7rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.selector__input {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  min-height: 5.5rem;
  padding: 0.8rem 3rem 0.8rem 1.4rem;
  border: 1px solid #393939;
  border-radius: 0.8rem;

  font-size: inherit;
  font-weight: inherit;
  line-height: 1.19;
  color: inherit;
  text-align: left;
  text-transform: capitalize;

  background-color: transparent;
  &:focus-visible {
    outline: none;
  }
}

.selector__arrow {
  position: absolute;
  top: 50%;
  right: 2.2rem;
  transform: translateY(-50%);
}

.selector__arrow_open {
  transform: rotate(180deg);
}

.selector__list {
  position: absolute;
  z-index: 100;
  top: calc(100% + 0.7rem);
  right: 0;
  left: 0;

  padding: 0.8rem 3rem 0.8rem 1.4rem;
  border: 1px solid #393939;
  border-radius: 0.8rem;

  list-style: none;

  background-color: #fff;
}

.selector__option {
  cursor: pointer;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  min-height: 4rem;

  line-height: 1.19;
  text-align: left;
  text-transform: capitalize;
}
