.characterCard {
  position: relative;

  display: flex;
  gap: 1.3rem;
  align-items: center;

  width: 50.8rem;
  height: 24.8rem;
  padding: 0.7rem;
  padding-right: 1.3rem;
  border-radius: 6px;

  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
  &:hover > .characterCard__edit {
    display: block;
  }
}

.characterCard__imgContainer {
  overflow: hidden;
  flex-shrink: 0;

  width: 24rem;
  height: 23.4rem;
  border-radius: 8px 8px 0 0;
}

.characterCard__img {
  width: 100%;
  object-fit: contain;
}

.characterCard__formContainer {
  flex-grow: 1;
  flex-shrink: 1;
  align-self: stretch;
  min-width: 0;
}

.characterCard__edit {
  cursor: pointer;

  position: absolute;
  top: 1.2rem;
  right: 0.9rem;

  display: none;

  width: 1.3rem;
  height: 1.3rem;

  font-size: 0;
}
