.header {
  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
}

.header__inner {
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__controls {
  display: flex;
  gap: 1.5rem;
}

.header__btn {
  border: 1px solid #393939;
  border-radius: 0.8rem;
  width: 3.7rem;
  height: 3.8rem;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 2.5rem;
  line-height: 0.84;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.6);
}

.main {
  flex-grow: 2;
}

.footer {
  box-shadow: -2px 0 8px 2px rgba(0, 0, 0, 0.1);
}
.footer__inner {
  min-height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  color: #212121;
}
