.infiniteScroll__successIcon {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}

.infiniteScroll__infoText {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 5rem;
  margin-top: 0.8rem;

  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-accent-portal);
  text-align: center;
  text-shadow: 0 0 4px var(--color-accent-portal-glow);

  &_error {
    font-weight: 700;
    color: var(--color-danger);
  }
}
