.charPage {
  max-width: 1020px;
  margin: 0 auto;
  padding: 1.6rem;
  position: relative;
}

.charPage__back {
  position: absolute;
  left: 0;
  top: 4.2rem;
}

.charPage__loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
}
