.charPage {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: space-between;
}

.charPage__back {
  margin-right: auto;
  padding-top: 4.2rem;
}

.charPage__main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  margin: 0 auto;
}
