.characterForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
}

.characterForm__nameContainer {
  height: 3rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 6rem;
  position: relative;
}

.characterForm__name {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-decoration: inherit;
}

.characterForm__nameError {
  position: absolute;
  top: 90%;
  left: 0;
  font-weight: 500;
  font-size: 1.4rem;
  color: red;
  text-transform: none;
}

.characterForm__field {
  display: flex;
  min-width: 0;
  flex-shrink: 1;
  height: 4.1rem;
  flex-direction: column;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.6);
}

.characterForm__fieldTitle {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.31;
  letter-spacing: 0.02rem;
  color: #3f3f3f;
  &_error {
    color: red;
    text-transform: none;
  }
}

.characterForm__status {
  display: flex;
  align-items: baseline;
  gap: 0.7rem;
  min-width: 0;
}

.characterForm__controls {
  position: absolute;
  top: 0.8rem;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 1.3rem;
  font-size: 0;
}

.characterForm__acceptChanges,
.characterForm__discardChanges {
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
