.input {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  line-height: 1.5;

  &_bordered {
    width: 24rem;
    height: 5.6rem;
    padding-right: 1.2rem;
    padding-left: 1.6rem;
    border: 1px solid var(--color-text-chrome);
    border-radius: 0.8rem;

    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-text-primary);

    background-color: var(--color-bg-main);
  }

  &_underlined {
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color-text-primary);

    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    letter-spacing: inherit;
  }
}

.input__field {
  flex-grow: 1;
  flex-shrink: 1;

  min-width: 0;
  border: none;

  font: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  background-color: transparent;
  outline: none;
}

.input__icon {
  flex-shrink: 0;
  width: 1.8rem;
  height: 1.8rem;
  color: inherit;
}

.input_bordered .input__icon {
  color: var(--color-text-chrome);
}

.input__clear {
  cursor: pointer;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  border: none;

  color: var(--color-text-muted);

  background: transparent;

  svg {
    width: 1rem;
    height: 1rem;
  }
}
