.homePage {
  padding: 2.6rem 0;
}

.homePage__logo {
  width: 60rem;
  height: 20rem;
  margin: 0 auto;
}

.homePage__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.homePage__filters {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.homePage__charactersList {
  margin-top: 3rem;
}

.homePage__tryAgainContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-top: 1.5rem;
}

.homePage__tryAgain {
  cursor: pointer;

  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 0.4rem;

  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-text-on-primary);
  text-transform: uppercase;

  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-hover);
  }
}

.homePage__noResults {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 10rem;

  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-primary);
  text-align: center;
}
