.homePage {
  padding: 2.6rem 0;
}

.homePage__logo {
  width: 60rem;
  height: 20rem;
  margin: 0 auto;
}

.homePage__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.homePage__filters {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.homePage__charactersList {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 3rem;
  justify-content: space-between;

  margin-top: 3rem;

  list-style: none;
}
